﻿@model IEnumerable<Ingemann_test.Models.Moneda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
              <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Signo)
            </th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MonedaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MonedaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MonedaId">Delete</a>
                <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Signo)
                </td>

            </tr>
        }
    </tbody>
</table>
