﻿@model Ingemann_test.Models.VM.FacturaVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<form asp-action="Create">
    <div class="container">
        <div class="row mb-3">

            <div asp-validation-summary="ModelOnly"></div>
            <div class="col">
                <div class="form-group" style=" pointer-events: none;">
                    <label asp-for="FacturaCodigo" class="control-label"></label>
                    <input asp-for="FacturaCodigo" class="form-control" value="@(ViewBag.Codigo)" />
                    <span asp-validation-for="FacturaCodigo" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Fecha" class="control-label"></label>
                    <input asp-for="Fecha" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="MonedaId" class="control-label">Moneda</label>
                    <select asp-for="MonedaId" id="MonedaId" name="MonedaId" class="form-control" asp-items="ViewBag.MonedaId"></select>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label asp-for="ImpuestoId" class="control-label">Impuesto</label>
                    <select asp-for="ImpuestoId" id="ImpuestoId" name="ImpuestoId" class="form-control" asp-items="ViewBag.ImpuestoId"></select>
                </div>
            </div>
        </div>





        <div class="row mb-3">
            <div class="col-8">
                <div class="card-header">
                    <h5 class="card-title">Detalle</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-2">
                        @*  <div class="col-3">
                            <div class="form-group" style=" pointer-events: none;" >
                            <label class="control-label">Código del articulo</label>
                            <input class="form-control" />
                            </div>
                            </div>*@
                        <div class="col">
                            <div class="form-group">
                                <label class="control-label">Seleccione el articulo</label>
                                <select id="ddlarticulo" id="ArticuloId" class="form-control" asp-items="ViewBag.ArticuloId">
                                    <option value="0"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="control-label">Ingrese la Cantidad </label>
                                <input class='form-control' id="cantidadArticulo" value="1">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type='button' id='AgregarArticulo' value='Agregar Articulo' class='btn btn-danger'>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table" id="articulotb">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 60px"> Código </th>
                                <th scope="col"> Articulo </th>
                                <th scope="col" style='width: 100px'> Precio </th>
                                <th scope="col" style='width: 100px'> Cantidad </th>
                                <th scope="col" style='width: 100px'> Subtotal </th>
                                <th scope="col" style='width: 100px'> IVA </th>
                                <th scope="col" style='width: 100px'> Total </th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody class="articulotable">
                            <tr>
                                <td><input name="FacturaDetalles[0].ArticuloId" type="hidden">  </td>
                                <td><input name="FacturaDetalles[0].Descripcion" type="hidden">  </td>
                                <td><input name="FacturaDetalles[0].Articulos.Costo" type="hidden"> </td>
                                <td><input name="FacturaDetalles[0].Cantidad" type="hidden"> </td>
                                <td><input name="FacturaDetalles[0].Subtotal" type="hidden"> </td>
                                <td><input name="FacturaDetalles[0].ValorImpuesto" type="hidden"> </td>
                                <td><input name="FacturaDetalles[0].Subtotal" type="hidden"> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-4">
                <div class="card-header">
                    <h5 class="card-title">Resumen Factura</h5>
                </div>
                <div class="card-body">
                    <div class="row  mb-3">
                        <div class="col">
                            <label class="form-label" readonly> SubTotal </label>
                        </div>
                        <div class="col">
                             <input class="form-label" id="resumensubtotalinput" hidden />
                            <label class="form-label" id="resumensubtotallbl" readonly>  </label>
                        </div>
                    </div>
                     <hr />
                    <div class="row  mb-3">
                        <div class="col">
                            <label class="form-label" readonly> IVA </label>
                        </div>
                        <div class="col">
                             <input class="form-label" id="resumenIVAinput" hidden value="0" />
                            <label class="form-label" id="resumenIVAlbl" > </label>
                        </div>
                    </div>
                    <hr />
                    <div class="row  mb-3">
                        <div class="col">
                             <label class="form-label" readonly> Total </label> 
                        </div>
                        <div class="col">
                            <input class="form-label" id="resumenTotalinput" hidden value="0" />
                            <label class="form-label" id="resumenTotallbl" ></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {



    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="~/lib/select2/js/select2.full.min.js"></script>
<script src="~/lib/select2/js/select2.js"></script>

<script type="text/javascript">

      var getArticuloInfo
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        getArticuloInfo = '@Url.Action("getArticuloInfo")';
    });
    $(function (){
        $("#ddlarticulo").select2({
        placeholder: "Select a Static Value",
        theme: "bootstrap4",
        allowClear: true
    });
    })


</script>

}



