﻿@model IEnumerable<Ingemann_test.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th></th>
            <th>
                @Html.DisplayNameFor(model => model.FacturaCodigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPagar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monedas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Impuestos)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.FacturaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FacturaId">Imprimir</a> *@
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FacturaCodigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPagar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monedas.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Impuestos.Porcentaje)
            </td>
            
        </tr>
}
    </tbody>
</table>