﻿@model IEnumerable<Ingemann_test.Models.Articulo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>

            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                <a asp-action="Edit" asp-route-id="@item.ArticuloId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArticuloId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArticuloId">Delete</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
           
        </tr>
}
    </tbody>
</table>
